.home{
	margin-top: 2vw;
	width: 3vw;
}
.sidebar{
	margin-top: 7vw;
	width: 3vw;
}
.house{
	margin-top: 5vw;
	width: 5vw;
}
.tab{
	margin-top: 7vw;
}
.black{
	background-color: #1F1D2B;

}
.search{
	background-color: #1F1D2B;
	border-color: grey;

}
.button{
	margin-bottom: 0.4vw;
	width: 2.2vw;
}
.top-search{
	margin-left: 40vw;
	margin-bottom: 70vw;
}
.top-text{
	margin-top: 2vw;
	margin-left: 3vw;
	color: white;
	font-size: 2.5vw;
}
.top-date{
	margin-left: 3vw;
	color: #82878F;
}
.mid-back{
	background-color: #252836;
}
.marg{
	margin-bottom: 50vw;
}
.color{
	color: white !important;
	margin-left: 2vw;
}
.choose{
	margin-top: 4vw;
	margin-left: 3vw;
	color: white;
	font-size: 1.5vw;
	display: inline;
}
.but{
	margin-left: 34vw;
	display: inline;
}
.nav-mar{
	margin-top: 2vw;
}
.but-mar{
	margin-top: 2.5vw;
}
.line{
	border-bottom: 2px solid;
	color: #646D78;
}
.card-color{
	background-color: #1F1D2B;
}
.card-mar{
	margin-left: 3vw;
	margin-top: 3vw;
}
.card-mar-1{
	margin-left: 6vw;
	margin-top: 3vw;
}
.card-mar-2{
	margin-left: 6vw;
	margin-top: 3vw;
}	
.spicy{
	color: white;
}
.p2{
	color: #818087;
}
.bowl{
	color: #545863;
}
.mar-e1{
	margin-top: 6vw;
	margin-left: 3vw;
}
.mar-e2{
	margin-top: 6vw;
	margin-left: 6vw;
}
.mar-e3{
	margin-top: 6vw;
	margin-left: 6vw;
}
.side-but{
	margin-top: 1vw;
	margin-left: 2vw;
}
.order{
	margin-top: 2vw;
	margin-left: 2vw;
	font-size: 1.6vw;
	color: white;
}
.row-3{
	background-color: #1F1D2B;
}
.item{
	margin-top: 2vw;
	margin-left: 2vw;
	color: white;
}
.qty{
	margin-top: 2vw;
	margin-left: 16vw;
	color: white;
}
.price{
	margin-top: 2vw;
	margin-left: 3vw;
	color: white;
}



